<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form action="#" th:action="@{/formulaire}" th:object="${formulaire}" method="post">
		<select class="form-control" id="dropOperator">
	    	<option value="0">select operator</option>
	    	<option th:each="id : ${ids}" th:value="${id}" th:text="${id}"></option>
	    </select>
	    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>